<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <style>
    body {
      /* background-color: #22a6b3; */
      /* background-color: #2a3d6f; */
    }
    h2, p{
      margin: 10px 0;
    }
    header{
      margin-bottom: 30px;
      /* background-color:#f38525 !important; */
    }
    .tip{
      padding: 10px;
      background: #333;
      color: #fff;
    }
    .tip .delete{
      color: #e55039;
      font-size: 0.8em;
    }
  </style>
  <title>Donut Chart</title>
</head>
<!-- <body class="indigo"> -->
<body class="grey darken-4">

  <!-- <header class="indigo darken-1 section"> -->
  <header class="section grey darken-3">
    <!-- <h4 class="center white-text">Stack Overflow Annual Survey</h4> -->
    <p class="flow-text grey-text center text-lighten-2">D3.js Donut Chart</p>
  </header>

  <div class="container section">
      <div class="row">
        <div class="col s12 m3">
          <form class="card z-depth-0">
            <div class="card-content">
              <span class="card-title indigo-text">Select Data To Visualize</span>
              <div class="input-field">
                <input type="text" id="name">
                <label for="name">Select a Variable</label>
              </div>
              <!-- <div class="input-field">
                <input type="text" id="">
                <label for="cost">text</label>
              </div> -->
              <div class="input-field center">
                <button class="btn-large  blue darken-1 white-text">Load Data</button>
              </div>

            </div>
          </form>
        </div>
        <div class="col s12 m5 push-m1">
          <div class="donut"></div>
        </div>
      </div>
    </div>

  <!-- <div class="container section">
    <div class="row">
       <div class="col s12 m6">

      </div>
      <div class="col s12 m5 push-m2">
        <div class="donut"></div>
      </div>
    </div>
  </div> -->
  
  <!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  <script src="../static/js/countries.js"></script>
  <!-- <script src="index.js"></script> -->
</body>
</html>

