<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <style>

  </style>
  <title>JS Overload</title>
</head>
<!-- <body class="indigo"> -->
<body class="grey darken-4">

  <!-- <header class="orange section"> -->
  <header class="section blue darken-3">
    <!-- <h4 class="center white-text">Stack Overflow Annual Survey</h4> -->
    <p class="flow-text grey-text center text-lighten-2">Stack Overflow 2019 Survey</p>
    <p class="flow-text grey-text center text-lighten-2">D3.js  🍩 Charts</p>

  </header>

  <div class="container section">

      <div class="row">
        <div class="col s12 m12">
          <p class="flow-text grey-text center text-lighten-2">
            Gender
            </p>
          <div class="question ">
            <p class="flow-text grey-text center text-lighten-2">
               Which of the following do you currently identify as? 
            </p>
            
          </div>
          <div id="gender"></div><hr>
        </div>
      </div>

      <div class="row">
          <div class="col s12 m12">
            <p class="flow-text grey-text center text-lighten-2">
              Trans
            </p>
              <div class="question">
                <p class="flow-text grey-text center text-lighten-2">
                 Do you identify as transgender?
                </p>
                
              </div>
              <div id="trans"></div><hr>
           </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  Dependents
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Do you have any dependents (e.g., children, elders, or others) that you care for?
                </p>
              </div>
          <div id="dependents"></div><hr>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                 EdLevel
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Which of the following best describes the highest level of formal education that you’ve completed?
                  </p>
                  
              </div>
              <div id="edlevel"></div><hr>
        </div>
      </div>

      <div class="row">
          <div class="col s12 m12">
              <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
                  EdLevel
            </p>
                  <p class="flow-text grey-text center text-lighten-2">
                      Which of the following best describes the highest level of formal education that you’ve completed?
                    </p>
                    
                </div>
            <div id="undergradmajor"></div><hr>
          </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  Employment
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Employment,Which of the following best describes your current employment status?
                </p>
                
              </div>
              <div id="employment"></div><hr>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div class="question ">
            <p class="flow-text grey-text center text-lighten-2">
                CareerSat
            </p>
            <p class="flow-text grey-text center text-lighten-2">
                Overall, how satisfied are you with your career thus far?
              </p>
              
            </div>
          <div id="careersat"></div><hr>
        </div>
      </div>


      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
                  <p class="flow-text grey-text center text-lighten-2">
                      JobSat
                  </p>
                  <p class="flow-text grey-text center text-lighten-2">
                    How satisfied are you with your current job? (If you work multiple jobs, answer for the one you spend the most hours on.)
                  </p>
                  
                </div>          
          <div id="jobsat"></div><hr>
         </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  JobSeek
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Which of the following best describes your current job-seeking status?
                  </p>
                  
                </div>
          <div id="jobseek"></div><hr>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  MgrMoney
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Do you believe that you need to be a manager to make more money?
                  </p>
                  
                </div>
          <div id="mgrmoney"></div><hr>
        </div>
        </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  MgrWant
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Do you want to become a manager yourself in the future?
                  </p>
                  
                </div>
          <div id="mgrwant"></div><hr>
        </div>
      </div>

      <div class="row">
          <div class="col s12 m12">
              <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
               MgrIdiot
            </p>
                  <p class="flow-text grey-text center text-lighten-2">
                      How confident are you that your manager knows what they’re doing?
                    </p>
                  
                  </div>
            <div id="mgridiot"></div><hr>
          </div>
      </div>


      <div class="row">
        <div class="col s12 m12">
          <p class="flow-text grey-text center text-lighten-2">
              WorkPlan
            </p>
            <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
                    How structured or planned is your work?
                  </p>
                  
                </div>
          <div id="workplan"></div><hr>
        </div>
        </div>

      <div class="row">
        <div class="col s12 m12">
          <p class="flow-text grey-text center text-lighten-2">
              WorkLoc
            </p>
            <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
                    Where would you prefer to work?
                  </p>
                  
                </div>
          <div id="workloc"></div><hr>
        </div>


        <div class="row">
            <div class="col s12 m12">
              <p class="flow-text grey-text center text-lighten-2">
                  SOAccount
            </p>
                <div class="question ">
                    <p class="flow-text grey-text center text-lighten-2">
                        Do you have a Stack Overflow account?
                      </p>
                      
                    </div>
              <div id="soaccount"></div><hr>
            </div>
          </div>


      <div class="row">
        <div class="col s12 m12">
          <p class="flow-text grey-text center text-lighten-2">
              SOJobs
            </p>
            <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
                    Have you ever used or visited Stack Overflow Jobs?
                  </p>
                  
                </div>
          <div id="sojobs"></div><hr>
        </div>
      </div>


      <div class="row">
        <div class="col s12 m12">
          <p class="flow-text grey-text center text-lighten-2">
              Extraversion
            </p>
            <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
                    Do you prefer online chat or IRL conversations?
                  </p>
                  
                </div>
          <div id="extraversion"></div><hr>
        </div>
      </div>


      <div class="row">
          <div class="col s12 m12">
              <div class="question ">
                <p class="flow-text grey-text center text-lighten-2">
                    SocialMedia
                  </p>
                  <p class="flow-text grey-text center text-lighten-2">
                      What social media site do you use the most?
                    </p>
                    
                  </div>
            <div id="socialmedia"></div><hr>
          </div>
        </div>


      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
               OpSys
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    What is the primary operating system in which you work?
                  </p>
                  
                </div>
          <div id="opsys"></div><hr>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  BlockchainIs
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Blockchain / cryptocurrency technology is primarily:
                  </p>
                  
                </div>
          <div id="blockchainis"></div><hr>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
                  <p class="flow-text grey-text center text-lighten-2">
                      ImpSyn
                    <p class="flow-text grey-text center text-lighten-2">
                    For the specific work you do, and the years of experience you have, how do you rate your own level of competence?
                  </p>
                  
                </div>
          <div id="impsyn"></div><hr>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
                  FizzBuzz
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Have you ever been asked to solve FizzBuzz in an interview?
                  </p>
                  
                </div>
          <div id="fizzbuzz"></div><hr>
         </div>
        </div>


      <div class="row">
        <div class="col s12 m12">
          <p class="flow-text grey-text center text-lighten-2">
              OffOn
            </p>
            <div class="question">
                <p class="flow-text grey-text center text-lighten-2">
                    Have you tried turning it off and on again?
                  </p>
                  
                </div>
           <div id="offon"></div><hr>
          </div>
       </div>

      <div class="row">
        <div class="col s12 m12">
            <div class="question ">
              <p class="flow-text grey-text center text-lighten-2">
               BetterLife
            </p>
                <p class="flow-text grey-text center text-lighten-2">
                    Do you think people born today will have a better life than their parents?
                  </p>
                  
                </div>
          <div id="betterlife"></div><hr>
         </div>
      </div>

  </div>

  
  <!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  <script src="../static/js/app.js"></script>
  <!-- <script src="index.js"></script> -->
</body>
</html>

