<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <style>

  </style>
  <title>JS Overload</title>
</head>
<!-- <body class="indigo"> -->
<body class="grey darken-4">

  <!-- <header class="orange section"> -->
  <header class="section blue darken-3">
    <!-- <h4 class="center white-text">Stack Overflow Annual Survey</h4> -->
    <p class="flow-text grey-text center text-lighten-2">Stack Overflow 2019 Survey</p>
    <p class="flow-text grey-text center text-lighten-2">D3.js Donut Charts</p>

  </header>

  <div class="container section">
      <div class="row">
        <div class="col s12 m12">
          <div id="gender"></div>
        </div>
        <div class="col s12 m12">
           <div id="trans"></div>
        </div>

      <div class="row">
        <div class="col s12 m12">
          <div id="dependents"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="edlevel"></div>
        </div>
        <div class="col s12 m12">
          <div id="undergradmajor"></div>
        </div>

      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="employment"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="careersat"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="jobsat"></div>
        </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="jobseek"></div>
        </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="mgrmoney"></div>
        </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="mgrwant"></div>
        </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="workplan"></div>
        </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="workloc"></div>
        </div>
      <!-- <div class="row">
        <div class="col s12 m12">
          <div id="donut"></div>
        </div> -->
      <div class="row">
        <div class="col s12 m12">
          <div id="sojobs"></div>
        </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="soaccount"></div>
        </div>

      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="extraversion"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="socialmedia"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="opsys"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="blockchainis"></div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="impsyn"></div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div id="fizzbuzz"></div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="offon"></div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <div id="betterlife"></div>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div id="#"></div>
      </div>

  </div>

  
  <!-- Compiled and minified JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  <script src="../static/js/app.js"></script>
  <!-- <script src="index.js"></script> -->
</body>
</html>

