<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <style>
      .pie {
      margin: 20px;
    }

    .pie text {
      font-family: "Verdana";
      fill: #888;
    }

    .pie .name-text{
      font-size: 1em;
    }

    .pie .value-text{
      font-size: 3em;
    }
  </style>
  <title>Code Pen Donut</title>
</head>
<body>
  <div id="chart"></div>
  <script src="../static/js/codependonut.js"></script>
</body>
</html>